<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="test">UITQA Question Answering System</h1><br>
    <div class="s130">
      <form method="post" action="{{ url_for('index') }}">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input name="search" type="text" placeholder="Nhập cái gì đi chứ ?" value="{{ request.form['search'] }}" />
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit">SEARCH</button>
          </div>
        </div>
        <span class="info">ex. Số tín chỉ, học vụ, điều kiện tốt nghiệp...</span>

          {% if results %}
          <br><br>
          <h3>Time processing: {{ time }}s</h3>
          <h3>Total results: {{ results|length }}</h3><br><br>
            {% for rs in results: %}
              <h3>Answer for "{{ query }}": &nbsp&nbsp&nbsp&nbsp <p style="color:red">{{ rs['answer'] }}<p></h3><br>
              <h3>Num overlap keywords: &nbsp&nbsp&nbsp&nbsp{{ rs['overlap_key_words'] }}</h3>
              <h3>IR score: &nbsp&nbsp&nbsp&nbsp{{ rs['ir_score'] }}</h3>
              <h3>BERT score: &nbsp&nbsp&nbsp&nbsp{{ rs['bert_score'] }}</h3>
              <h3>Content: &nbsp&nbsp&nbsp&nbsp{{ rs['content'][:200] }}...</h3>
              <h3>===========================================================</h3><br><br>
            {% endfor %}
          {% endif %}

      </form>



    </div>
    <script src="static/js/extention/choices.js"></script>
  </body>
</html>
